#containerProjetos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upProjetos{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}
#link{
    color: rgb(252, 252, 252);
    cursor: pointer;
    width: 110px;
    height: 25px;
    background-color: rgb(97, 97, 97);
    border-radius: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}
.strongPort{
    color: rgb(94, 93, 93);
    margin-left: 6px;
}
.paragrafoPort{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(146, 144, 144);
    margin: 6px;
}

/*projetos*/
.downProjetos{
    width: 100%;
    height: auto;
    padding: 10px;
    max-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.downProjetos>ul{
    width: 70%;
    height:100%;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    align-items: flex-start;
}

.imgProjetos{
    height: 350px;
    width: 290px;
    padding: 5px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    background-image: linear-gradient(180deg, rgba(70, 68, 68, 0.151),  rgba(255, 255, 255, 0));
    border: .5px solid rgba(70, 68, 68, 0.342);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.imgProjetos>.strongProj{
    font-size: 23px;
}
.imgProjetos>.pProj{
    font-size: 14px;
    color: rgb(83, 83, 83);
}
.imgProjetos>.imgProj{
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    height: auto;
    background-color: rgba(156, 153, 153, 0.678);

}
.imgProjetos>.buttonProj{
    width: 150px;
    height: 25px;
    display: flex;
    color: #fff;
    justify-content: center;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(97, 97, 97);

}